<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo2_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo2_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Activities.ManagerViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManagerBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManagerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ViewBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ReservationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ListActivity"

            android:exported="true"> <!-- was false -->


        </activity>
        <activity
            android:name=".Activities.LogInActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>